@charset "utf-8";
.center{width:1200px;margin: 0 auto;box-sizing: border-box;}
/* header */
header{box-sizing: border-box; width: 100%;background-color: #fff; position: sticky; top: 0;z-index: 5;border-bottom: 1px solid #e4f0f9}
header .center{display: flex;height:100px;background-color: #fff;border-bottom: 1px solid #e4f0f9}
header h1{margin-top: 10px;}
header h1 a{display: block;font-size: 8px;width: 100px;line-height:50px; text-align: center; } 
header h1 a img{width: 100px; margin-bottom: -25px;}
header nav{margin-left:50px}
header div.gnb{display: flex;justify-content:space-between;font-size: 20px;width: 700px;margin-left: 200px; height: 100px;line-height: 100px;}
header div.gnb .drop .down a:hover{color:#204678}
header div.gnb .down{display: none; width: 240px; background-color: #4c7bb883;color:#fff;text-align: center; line-height: 60px;}
header div.gnb .place_background{display: none;}
header div.gnb .background_img{color: #ffffff;font-size: 30px;line-height: 375px;padding: 20px;background: url('https://res.heraldm.com/phpwas/restmb_idxmake.php?idx=621&simg=/content/image/2020/09/27/20200927000145_0.jpg') no-repeat; position:absolute; width: 700px;height: 300px;top: 5%;left: 40%;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.389);}
header div.gnb .drop>li{width: 120px;position: relative;}
header div.gnb .drop li:hover .down{display: block;}
header div.gnb .drop li:nth-of-type(1):hover .place_background{display: block;position:fixed;width:1920px;height:350px;background-color: #4c7bb883;top:100px;left: 0;}
header div.gnb .drop:nth-of-type(1) .down{text-align: left;background:none;position:relative;}
header div.gnb .drop:nth-of-type(2) .down{margin-left: -55px;}
header div.gnb .drop:nth-of-type(3) .down{margin-left: -100px;}

/* banner */
.banner{min-width: 1200px; height: 550px;overflow: hidden;}
.banner img{vertical-align: bottom}

/* container */
.containers .location {text-align:right; position: relative; right: 100px; margin-top: 50px;}
.containers .location .ar{color: #777; font-weight: 100;}
.containers h2{text-align: center;margin: 100px 0; font-size: 35px;}
.containers ol{margin:0; display: flex; flex-direction :row; flex-wrap : wrap; justify-content: space-between; text-align: center;font-size: 20px;box-sizing: border-box;}
.containers ol li iframe{width: 350px; height:300px; border-radius: 10px;}
.containers ol li div{background-color: #a2d6f9;height: 30px;line-height: 30px; margin-bottom: 10px; border-radius: 10px;}
.containers ol li.under {margin-top: 70px;}
.containers p { font-family:"NanumBarunGothic";}

/* container-list */
#list h2{margin-bottom: 50px;}
#list .search{width:400px ;margin: 50px auto;}
#list .search input{font-weight: 300;font-family:"NanumBarunGothic"}
#list .search button{background-color: #a2d6f9;padding: 0;margin: 0;border-radius: 10%;}
#list .search button>img{width: 20px;}
#list table{font-weight: 300; font-family:"NanumBarunGothic";text-align: center;font-size: 16px;}
#list table .delete{width:60px;margin:auto}
#list table .delete button{text-align:center}

/* booking/addForm */
#booking-form{width: 1200px; height: 900px; margin: 0 auto; padding: 50px; box-sizing: border-box; text-align: center;
  font-family: "NanumBarunGothic"; background-color: #e4f0f963;}
p.booking_form.sub_title{text-align: center; font-size: 18px;background-color: #c0c5c941;width: 1200px;height: 100px;line-height: 100px;margin: 0px auto}
#booking-form .description{height: 200px;line-height: 25px;}
#booking-form .description span{font-family:"LINESeedKR-Bd";}
#booking-form .description div.scroll{height: 150px;overflow: hidden;overflow-y: scroll; text-align: left;}
#booking-form .description div.form-check{text-align: right;}
#booking-form .description .form-check-label{font-family: "NanumBarunGothic";font-size: 16px ;}
#booking-form label, .policy{font-family:"LINESeedKR-Bd";font-size: 22px;}
#booking-form .policy{margin-bottom: 20px;}
#booking-form label.booking_date{padding-bottom: 20px;}
#booking-form .datepicker table{width: 330px;margin: 50px auto;}
#booking-form .datepicker .datepicker-switch{font-size: 20px;margin-bottom: 20px;}
#booking-form #datepicker{height: 350px;border-radius: 10%;}
#booking-form span{line-height: 38px;font-size: 20px;margin: 0;padding: 0;}
#booking-form .button{width: 500px;margin: -20px auto;}
#booking-form .button button:nth-of-type(2){
  background-color: #7ab1f4;color: #fff;
}

/* inquiry/addform */
#inquiry-form.containers form{box-sizing: border-box;}
#inquiry-form.containers p.sub_title{text-align: center; font-size: 18px;background-color: #c0c5c941;width: 1200px;height: 100px;line-height: 100px;margin: 0px auto}
#inquiry-form.containers form{width: 1200px; height: 900px; margin: 0 auto; padding: 50px; box-sizing: border-box; ; text-align: center; font-family: "NanumBarunGothic"; background-color: #e4f0f963;}
#inquiry-form label{font-family:"LINESeedKR-Bd";font-size: 20px;width: 100px;}
#inquiry-form span .col-1{line-height: 38px;font-size: 20px;margin: 0;padding: 0;}
#inquiry-form .box{width: 300px;}
#inquiry-form .phone{width: 100px;}
#inquiry-form .button input:nth-of-type(2){background-color: #7ab1f4;color: #fff;}

 /*join & privacy*/
 .join,.prv{width: 800px; margin: 50px auto;font-family:"NanumBarunGothic"}
 .join h2,.prv h2{margin: 50px}
 .join .mm,.prv .mm{margin:15px 0}
 .back_btn{display: block;margin: 100px auto 0;}
 
/* footer */
footer{background-color: #022f54;margin-top: 200px;color:#fff;font-weight: 300; font-family:"NanumBarunGothic";min-width: 1200px;}
footer .center{padding: 60px 0;display: flex;justify-content: space-between;}
footer .left{display: flex;}
footer .leftwrap{margin-left: 50px;}
footer p.logo img{width: 100px;}
footer ul{display: flex;width: 200px;justify-content:space-between;margin-bottom: 30px;}
footer .right ul>li{height: 70px;}
footer .right img{height: 50px;}